body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .container {
  
    max-width: 400px;
    margin: 120px auto;
    padding: 20px;
    background-color: hsl(153, 29%, 94%);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(54, 59, 54, 0.1);
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 300px;
    height: 250px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    
    margin-bottom: 5px;
    color: rgb(11, 71, 11);
  }
  
  .form-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #117111;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #117111;
  }
  ul.errorlist {display:none;}
  .formclass{
    text-align: center;
  }
  .formclass label{
    color:rgb(11, 71, 11);
    font-size:25px;
  }
  .formclass input{
    text-align: center;
    width: 270px;
    height: 28px;
    font-size:25px;
    margin: 11px;
  }
  h1{
    font-size: 35px;
  }
  h1, h2, p{
    color: rgb(11, 71, 11);
    text-align:center;
  }